h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    background-color: chartreuse;
    display:flex;
    justify-content: space-around; 
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    background-color: gold;
}